<!DOCTYPE html>
<html>
<head>
  <title>Amazario</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
</head>
<body>

<!-- added these lines. -->
<header>
     <!-- <a href="sessions#new"><img class="head-logo" src="https://major.io/wp-content/uploads/2014/08/image-ansible.png" alt="Amazario"></a> -->
  <% if current_user %>
  <%= link_to image_tag("https://major.io/wp-content/uploads/2014/08/image-ansible.png", border: 0), { controller: 'products'}, {class: 'head-logo'} %>
    Hello <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% else %>
  <%= link_to image_tag("https://major.io/wp-content/uploads/2014/08/image-ansible.png", border: 0), {action: 'new', controller: 'products'}, {class: 'head-logo'} %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>
</header>

<%= yield %>
<footer>
     <div>
          <p>About Us</p>
          <p>Support</p>
          <p>Terms</p>
     </div>
</footer>

</body>
</html>
